.title,
.description {
  text-align: center;
}

.description {
  margin: 2rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 950px;
}

.card {
  margin: 0.5rem;
  // padding: 1.5rem;
  overflow: hidden;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.19);
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 250px;

  &:hover,
  &:focus,
  &:active {
    color: #0070f3;
    border-color: #0070f3;
  }

  h2, h4 {
    margin: 0 1rem 0.4rem 1rem;
    font-size: 1.1rem;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  p {
    margin: 0 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
  }

  .price {
    font-size: .9rem;
    color: #aaa;
    text-decoration: line-through;
  }

  .discounted {
    font-size: 1.2rem;
    font-weight: 600;
  }

  .off {
    font-size: .8rem;
  }
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
